# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local

# macOS / Windows
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db

# editors
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
